<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Add Post</title>
</head>
<body style="font-family: 'Audiowide','sans serif';">
    <%- include('./partials/nav')%>

        <div class="container" style="background-color: rgb(49, 84, 171);
        border-radius: 10px; margin-top: 80px; padding: 20px;
        width: 700px;">
        <%- include('./partials/addForm') %>  
    </div>

    

    <%- include('./partials/scripts')%>
    <%- include('./partials/themeScript') %>
</body>  
</html>