<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    <title>Edit Post</title>
</head>
<body >
    <%- include('./partials/nav')%>

    <div class="container" style="background-color: rgb(49, 84, 171);
        border-radius: 10px; margin-top: 80px; padding: 20px;
        width: 700px;">
        <h2 style="text-align: center;">Edit Post</h2>
        <%- include('./partials/editForm') %>  
    </div>

    
    

    <%- include('./partials/scripts')%>
    <%- include('./partials/themeScript') %>
</body>
</html>