<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    
    <title>tech Loaded</title>

    
</head>
<body style="font-family: 'Audiowide','sans serif';">
    <%- include('./partials/nav')%>

    <div class="container mt-3">
        <div class="row">
            <% post.forEach(post => { %>
                <div class="col-md-3 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="<%=post.imageURL %>" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"><%=post.title %></h5>
                            <a href="/post/<%=post._id%>" class="btn btn-primary">Open</a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <%- include('./partials/trending')%>

    <%- include('./partials/scripts')%>
    <%- include('./partials/themeScript') %>
</body>  
</html>