<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>
    
    <title>tech Loaded</title>
</head>
<body style="font-family: 'Audiowide','sans serif';">
    <%- include('./partials/nav')%>
    <div >
        <%- include('./partials/breadcrumbs')%>
    </div>

    

    
    <%= JSON.stringify(user)%>
        
    <div class="d-flex justify-content-end">
        
    <%- include('./partials/trending')%>
    

    </div>


    
    

    <%- include('./partials/scripts')%>
</body>  
</html>